<ion-view view-title="My E-Card" ng-app="" ng-controller="DashCtrl">
  <ion-content class="padding">
   
    <!-- Profile Pic -->
    <div class="profile">
      <img src="http://placehold.it/70x70">
    </div>
    <div class="info">
      <name ng-model="user.name">{{user.name}}</name>
      <br>
      <email ng-model="user.email">{{user.email}}</email>
    </div>

    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        <span class="title">Emergency Contact</span>
        <br>{{user.ename1}}
        <br>{{user.enum1}}
      </a>

     <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        <span class="title">Emergency Contact</span>
        <br>{{user.ename2}}
        <br>{{user.enum2}}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        <span class="title">Emergency Contact</span>
        <br>{{user.ename3}}
        <br>{{user.enum3}}
      </a>

    </div>
  </ion-content>
</ion-view>

